<!-- Items listed below are displayed in the frontpage "Selected publications" carousel -->

<!--   
<div class="item"> 
<blockquote>
<p>TITLE</p>
&mdash; AUTHOR
<a href="URL">JOURNAL, YEAR</a>
</blockquote> 
</div> -->

  
<div class="item"> 
<blockquote>
<p>Publications to follow...</p>
&mdash;  
<a href="URL"> </a>
</blockquote> 
</div>

<!-- <div class="item active"> 
<blockquote>
<p>Dynamic data during hypotensive episode improves mortality predictions among patients with sepsis and hypotension </p>
&mdash; Mayaud et al.
<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3609896/">Critical Care Medicine, 2013</a>
</blockquote>
</div>

<div class="item"> 
<blockquote>
<p>A data-driven approach to optimized medication dosing: a focus on heparin</p>
&mdash; Ghassemi et al.
<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC4157935/">Intensive Care Medicine, 2015</a>
</blockquote> 
</div>

<div class="item"> 
<blockquote>
<p>Leveraging a critical care database: SSRI use prior to icu admission is associated with increased hospital mortality</p>
&mdash; Ghassemi et al.
<a href="http://www.ncbi.nlm.nih.gov/pmc/articles/PMC3971969/">Chest, 2013</a>
</blockquote> 
</div>

<div class="item"> 
<blockquote>
<p>Mortality prediction in intensive care units with the Super ICU Learner Algorithm (SICULA): a population-based study</p>
&mdash; Pirracchio et al.
<a href="http://www.ncbi.nlm.nih.gov/pubmed/25466337">Lancet Respiratory Medicine, 2015</a>
</blockquote> 
</div>

<div class="item"> 
<blockquote>
<p>A targeted real-time early warning score (TREWScore) for septic shock</p>
&mdash; Henry et al.
<a href="http://www.ncbi.nlm.nih.gov/pubmed/26246167">Science Translational Medicine, 2015</a>
</blockquote> 
</div>
 -->