<!-- insert announcements here -->

<br />
<p>If you use the eICU Collaborative Research Database in your work, please cite the following publication: <br /><br />
<em>The eICU Collaborative Research Database, a freely available multi-center database for critical care research. Pollard TJ, Johnson AEW, Raffa JD, Celi LA, Mark RG and Badawi O. 
Scientific Data (2018). DOI: <a href="http://dx.doi.org/10.1038/sdata.2018.178">http://dx.doi.org/10.1038/sdata.2018.178</a></em>.
Available from: <a href="https://www.nature.com/articles/sdata2018178">https://www.nature.com/articles/sdata2018178</a>
</p>
<p>Also, please view some recent publications regarding the eICU Collaborative Research Database: <br /><br />
<em>Characterizing the patients, hospitals, and data quality of the eICU Collaborative Research Database. O'Halloran HM, Kwong K, Veldhoen RA and Maslove DM.
Critical Care Medicine (2020). DOI: <a href="https://dx.doi.org/10.1097/CCM.0000000000004633">https://dx.doi.org/10.1097/CCM.0000000000004633</a></em>.
Available from: <a href="https://journals.lww.com/ccmjournal/Fulltext/2020/12000/Characterizing_the_Patients,_Hospitals,_and_Data.5.aspx">https://journals.lww.com/ccmjournal/Fulltext/2020/12000/Characterizing_the_Patients,_Hospitals,_and_Data.5.aspx</a>
</p>
<br />

<!-- <br />
<p>This is an announcement!</p>
<br /> -->
