<!-- insert announcements here -->

<br />
<p>If you use the eICU Collaborative Research Database in your work, please cite the following publication: <br /><br />
<em>The eICU Collaborative Research Database, a freely available multi-center database for critical care research. Pollard TJ, Johnson AEW, Raffa JD, Celi LA, Mark RG and Badawi O. 
Scientific Data (2018). DOI: <a href="http://dx.doi.org/10.1038/sdata.2018.178">http://dx.doi.org/10.1038/sdata.2018.178</a></em>.
Available from: <a href="https://www.nature.com/articles/sdata2018178">https://www.nature.com/articles/sdata2018178</a>
</p>
<br />

<!-- <br />
<p>This is an announcement!</p>
<br /> -->
